body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

span.location {
    background-color: #f7f5e6;
    padding: 3px;
    margin: 3px;
    border-radius: 4px;
}

span.detail {
    color: #c6c6c6;
}

span.status-up {
    border-radius: 4px;
    background-color: greenyellow;
    color: black;
    padding: 3px;
}
span.status-down {
    border-radius: 4px;
    background-color: #b20701;
    color: white;
    padding: 3px;
}

table
{
    font-size: 12px;
    background: #fff;
    border-collapse: collapse;
    text-align: left;
}
table th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
table td
{
    color: #669;
    padding: 9px 8px 6px 8px;
}
table tbody tr:hover td
{
    color: #009;
    background-color: #eee;
}
