<div class="wrapper modal">
<h1>Breakdown an issue</h1> 
  <form role="form">
    <div class="form-group">
      <label for="Title1">title</label>
      <input type="text" class="form-control" id="Title1" placeholder="Enter your title here...">
    </div>
    <div class="form-group">
      <label for="description">escription</label> 
      <input type="textarea" class="form-control" id="exampleInputPassword1" cols="25" rows="25" placeholder="Enter a description here..." style="height: 300px;"> 

    </div>
    <div class="form-group" ng-show="upload">
      <label for="exampleInputFile">upload a cover picture</label>
      <input type="file" id="exampleInputFile">
    </div>
    <button type="submit" class="btn btn-warning pull-right" ng-show="agreed">Submit</button>
  </form>
</div>