<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a topic</h4>
      </div>
      <div class="modal-body">
        
<form role="form">
  <div class="form-group">
    <label for="Title1">Title:</label>
    <input type="text" class="form-control" id="Title1" placeholder="Enter your title here...">
  </div>
  <div class="form-group">
    <label for="description">description:</label> 
    <input type="textarea" class="form-control" id="exampleInputPassword1" cols=25 rows=:5 placeholder="Enter a description here..."> 

  </div>
   <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="upload"> Insert a cover picture
    </label>
  </div>
  <div class="form-group" ng-show="upload">
    <label for="exampleInputFile">upload a cover picture</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="agreed"> I have read and agreed to the Terms and conditions
    </label>
  </div>
  <button type="submit" class="btn btn-default" ng-show="agreed">Submit</button>
    <button type="submit" class="btn btn-default" ng-hide="agreed" disabled="">Submit</button>
</form>



<br>Location:<br> 
<div align="left">
        <br/>Select Country:
        <select id="country" name="country"></select>
        <br />State:
        <select name="state" id="state"></select>
        <br/>
      
        <script language="javascript">
            populateCountries("country", "state");
            populateCountries("country2");
        </script>
        <br/>
        <br/>
        <br />
        <br />
    </div>
</div>
-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="By clicking this button, you accept the terms in our License agreement">Save this topic</button>
      </div>
    </div>
  </div>
</div>